.slideInRightAnim {
    animation-name: slideInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .slideOutRightAnim {
  
    animation-name: slideOutRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  
  }
  
.slideInTopAnim {
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.scaleInAnim {
  animation-name: scaleIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleIn {
  0% { transform: scale(0, 0);}
  5% { transform: scale(0.2, 0.2);}
  30% { transform: scale(1, 0);}  
  100% {transform : scale(1, 1) ;}
}

.scaleOutAnim {
  animation-name: scaleOut; 
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleOut {
  0% { transform: scale(1, 1);}
  5% { transform: scale(1, 0.8);}
  30% { transform: scale(1, 0.2);}
  /* 80% { transform: scale(0.2, 0.2);} */
  100% {transform : scale(0, 0.3) ;}
}


  @keyframes slideInRight {
    0% { transform: translateX(500px);}
    100% { transform : translateX(0);}
  }
  @keyframes slideOutRight {
    0% { transform: translateX(0);}
    100% { transform : translateX(500px);}
  }
  
  @keyframes slideInTop {
    0% { transform: translateY(-550px);}
    100% { transform: translateY(0);}
  }
  
  
.rotateYInAnim {
  animation-name: rotateYIn;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes rotateYIn {
  0% { transform: rotateY(90deg); }
  
  100% { transform: rotateY(0deg);  }
}

.rotateYOutAnim {
  animation-name: rotateYOut;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes rotateYOut {
  0% { transform: rotateY(0deg); }
  
  100% { transform: rotateY(90deg);  }
}


