

.playerIcon {
    height:80px;
    padding: 20px 20px;
    /* grid-column-start: 1; 
    grid-column-end: 2;   */
    border: 1px solid white;
  
  }
  
  .musicIcons {
    /* padding: 20px 0; */
    height:80px;
    padding-top: 30px;
    padding-bottom : 30px;
    padding-left : 30px;
    padding-right: 30px;
  
    /* background-color: black; */
    border: 1px solid white;
  
  }
  
  .trackSection {
    flex-direction: column;
    align-self: flex-start;
  }
  
  
  .trackListDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  li {
    display: grid;
    grid-column: 1 / -1; /* Make the <li> span all columns of the parent grid */
    grid-template-columns: subgrid; /* Inherit the column tracks from the parent */
}

li > * { /* Target the children of the <li> */
    /* You can then place these children within the subgrid columns */
    grid-column: 1; /* Example: place the first child in the first subgrid column */
    /* ... and so on for other children */
}
  .tracks {
    display: grid;
    width:100%;
    grid-template-columns: 100px 600px 100px 100px;
    column-gap: 20px;
  }